@model IEnumerable<Projeto_SistemaWeb.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>Departamentos</h2>

<p>
    <a asp-action="Create">Create New</a> <!-- asp-action = cria automaticamente um link pra ação create do controlador do departamento -->
</p>
<table class="table">
    <thead> <!-- cabeça tabela-->
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id) <!-- coloca no cabeçalho da tabela o que form passado por espressão lambda -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Ola
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>  <!--Corpo -->

@foreach (var item in Model) { <!-- vor em uma coleção -->
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
